html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 10em;
    overflow: hidden;
}

.loader {
    display: inline-block;
    border: 0.13em solid #f3f3f3; /* Light grey */
    border-top: 0.13em solid #3498db; /* Blue */
    border-radius: 50%;
    animation: spin 1s linear infinite;
    height: 0.7em;
    width: 0.7em;
}

.loaded {
    display: inline-block;
    border: 0.13em solid #f3f3f3; /* Light grey */
    border-top: 0.13em solid #3498db; /* Blue */
    border-radius: 50%;
    animation: spin 1s linear infinite;
    height: 0.75em;
    width: 0.75em;
    animation: loading-symbol-to-sun 2s forwards;
    animation-timing-function: ease;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.parent {
    border-bottom: 2px solid black;
    background: white;
    overflow: hidden;
    width: 20em;
    z-index: 1;
}

.time-block {
    border: 2px solid #ff6a00;
    color: #ff6a00;
    aspect-ratio: 1 / 1;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

.time-desc {
    color: #ff6a00;
}

.timeRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.timeCol {
    margin: 1em;
}

.sunset-timer-div-hidden {
    height: 0;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 1s;
}

.sunset-timer-div {
    height: 100%;
    opacity: 100%;
    transform: translateY(0%);
    transition: transform 1s;
    transition-delay: 1s;
}

.starForm {
    display: none;
    transform: translateY(-100%);
    z-index: -999;
}

.starFormShown {
    transform: translateY(-100%);
    animation: sunset-timer-dropdown 2s forwards;
    animation-timing-function: ease;
    z-index: -999;
}


@keyframes loading-symbol-to-sun {

    50% {
        transform: translateY(200%);
        border: 0px;
        border-top: 0px;
        background-color: transparent;
    }

    100% {
        transform: translateY(0%);
        background-color: #ff6a00;
        border: 0;
        border-top: 0;
    }
}

.rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
}

.rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
}

.rating label:last-child {
    position: static;
}

.rating label:nth-child(1) {
    z-index: 5;
}

.rating label:nth-child(2) {
    z-index: 4;
}

.rating label:nth-child(3) {
    z-index: 3;
}

.rating label:nth-child(4) {
    z-index: 2;
}

.rating label:nth-child(5) {
    z-index: 1;
}

.rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.rating label .icon {
    float: left;
    color: transparent;
}

.rating label:last-child .icon {
    color: #000;
}

    .rating:not(:hover) label input:checked ~ .icon,
    .rating:hover label:hover input ~ .icon {
        color: #ff6a00;
    }

.rating label input:focus:not(:checked) ~ .icon:last-child {
color: #000;
text-shadow: 0 0 5px #09f;
}

.rating-div-hidden {
    height: 0;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 1s;
    transition-delay: 1s;
}

.rating-div {
    height: 100%;
    opacity: 100%;
    transform: translateY(0%);
    transition: transform 1s;
    transition-delay: 1s;
}

.submit-div-hidden {
    height: 0;
    opacity: 0;
    transform: translateY(-300%);
    z-index: -999;
}

.submit-div {
    height: 100%;
    opacity: 100%;
    transform: translateY(0%);
    z-index: -999;
    transition: transform 1s;
    transition-delay: 1s;
}
