@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row" id="ratingFormDiv" style="display:none">
    <p>
        <span id="sunsetHours" style="border: 1px solid black"></span>:<span id="sunsetMinutes" style="border: 1px solid black"></span>:<span id="sunsetSeconds" style="border: 1px solid black"></span>
    </p>
    <div class="col-md-4">
        <form method="post">
            <input type="hidden" asp-for="Rating.Longitude" id="longitude" />
            <input type="hidden" asp-for="Rating.Latitude" id="latitude" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Rating.Stars" class="control-label"></label>
                <input asp-for="Rating.Stars" class="form-control" />
                <span asp-validation-for="Rating.Stars" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" id="create" disabled />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        var sunsetHours;
        var sunsetMinutes;
        var sunsetSeconds;
        
        $(document).ready(function () {
            getLocation();
        });

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(setPosition);
            } else {
                // TODO: add proper error handling
            }
        }

        function setPosition(position) {
            document.getElementById("latitude").value = position.coords.latitude;
            document.getElementById("longitude").value = position.coords.longitude;
            document.getElementById("create").disabled = false;
            getSunsetTime();
        }

        function getSunsetTime() {
            var latitude = document.getElementById("latitude").value;
            var longitude = document.getElementById("longitude").value;
            var url = "@Url.Page("/Index")?handler=Ajax";
            $.ajax({
                url: url,
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                contentType: "application/json; charset=utf-8",
                type: "POST",
                dataType: "json",
                data: JSON.stringify({ latitude: latitude, longitude: longitude }),
                complete: function(){
                    $("#ratingFormDiv").show();
                },
                success: function (data) {
                    console.log(data);
                    var sunsetTimeUtc = new Date(data);
                    var secondsToToSunset = (sunsetTimeUtc - new Date())/1000;
                    var HmsToSunset = secondsToHms(Math.abs(secondsToToSunset));
                    sunsetHours = HmsToSunset[0];
                    sunsetMinutes = HmsToSunset[1];
                    sunsetSeconds = HmsToSunset[2];
                    document.getElementById('sunsetHours').innerHTML = sunsetHours;
                    document.getElementById('sunsetMinutes').innerHTML = sunsetMinutes;
                    document.getElementById('sunsetSeconds').innerHTML = sunsetSeconds;
                },
                error: function (xhr, status, error) {
                    console.log("fuck");
                }
            })
        }

        function secondsToHms(d) {
            d = Number(d);
            var h = Math.floor(d / 3600);
            var m = Math.floor(d % 3600 / 60);
            var s = Math.floor(d % 3600 % 60);

            var hDisplay = h;
            var mDisplay = m;
            var sDisplay = s;
            return [hDisplay, mDisplay, sDisplay];
        }
    </script>

}
