@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="centered">
    <div class="parent">
        <h1>
            <span>SunsetsI</span><span><div id="loader" class="loader"></div></span>
        </h1>
    </div>
    <div  id="sunsetTimer" class="sunsetTimer">
        <div class ="timeRow">
        <div class="timeCol">
            <div class="time-block">
                <h1 id ="sunsetHours" ></h1>
            </div>
            <div>Hours</div>
        </div>
        <div class="timeCol">
            <div class="time-block">
                <h1 id="sunsetMinutes" ></h1>
            </div>
            <div>Mins</div>
        </div>
            <div class="timeCol">
            <div class="time-block">
                <h1 id="sunsetSeconds"></h1>
            </div>
            <div>Secs</div>
        </div>
        </div>
        <div>
            <h5 id="sunsetTitle"></h5>
        </div>
    </div>
</div>
     




<div class="row" id="ratingFormDiv" style="display:none">
    <div class="col-md-4">
        <form method="post">
            <input type="hidden" asp-for="Rating.Longitude" id="longitude" />
            <input type="hidden" asp-for="Rating.Latitude" id="latitude" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Rating.Stars" class="control-label"></label>
                <input asp-for="Rating.Stars" class="form-control" />
                <span asp-validation-for="Rating.Stars" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" id="create" disabled />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        var sunsetHours;
        var sunsetMinutes;
        var sunsetSeconds;
        var isPassedSunset;
        
        $(document).ready(function () {
            getLocation();
        });

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(setPosition);
            } else {
                // TODO: add proper error handling
            }
        }

        function setPosition(position) {
            document.getElementById("latitude").value = position.coords.latitude;
            document.getElementById("longitude").value = position.coords.longitude;
            document.getElementById("create").disabled = false;
            getSunsetTime();
        }

        function getSunsetTime() {
            var latitude = document.getElementById("latitude").value;
            var longitude = document.getElementById("longitude").value;
            var url = "@Url.Page("/Index")?handler=Ajax";
            $.ajax({
                url: url,
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                contentType: "application/json; charset=utf-8",
                type: "POST",
                dataType: "json",
                data: JSON.stringify({ latitude: latitude, longitude: longitude }),
                complete: function () {
                    // set id loader to loaded class
                    $("#loader").attr("class", "loaded");
                    $("#sunsetTimer").attr("class", "sunsetTimer");
                },
                success: function (data) {
                    var sunsetTimeUtc = new Date(data);
                    var secondsToToSunset = (sunsetTimeUtc - new Date())/1000;
                    if (Math.sign(secondsToToSunset) < 0) {
                        isPassedSunset = true;
                        document.getElementById('sunsetTitle').innerHTML = "since sunset";
                        $("#ratingFormDiv").show();
                    }
                    else {
                        document.getElementById('sunsetTitle').innerHTML = "until sunset";
                        isPassedSunset = false;
                    }
                    var HmsToSunset = secondsToHms(Math.abs(secondsToToSunset));
                    sunsetHours = HmsToSunset[0];
                    sunsetMinutes = HmsToSunset[1];
                    sunsetSeconds = HmsToSunset[2];
                    document.getElementById('sunsetHours').innerHTML = sunsetHours;
                    document.getElementById('sunsetMinutes').innerHTML = sunsetMinutes;
                    document.getElementById('sunsetSeconds').innerHTML = sunsetSeconds;
                    $("#sunsetTimer").show();
                    setInterval(updateSunsetTime, 1000);
                },
                error: function (xhr, status, error) {
                    console.log("fuck");
                }
            })
        }

        function secondsToHms(d) {
            d = Number(d);
            var h = Math.floor(d / 3600);
            var m = Math.floor(d % 3600 / 60);
            var s = Math.floor(d % 3600 % 60);

            var hDisplay = h;
            var mDisplay = m;
            var sDisplay = s;
            return [hDisplay, mDisplay, sDisplay];
        }

        function updateSunsetTime() {
            if (!isPassedSunset) {
                subtractSecondToSunsetTimer();
            }
            else {
                addSecondToSunsetTimer();
            }
        }

        function subtractSecondToSunsetTimer() {
            if (sunsetSeconds <= 0) {
                if (sunsetMinutes <= 0) {
                    if (sunsetHours <= 0) {
                        isPassedSunset = true;
                        $("#sunsetTimer").show();
                        document.getElementById('sunsetTitle').innerHTML = "Time since sunset:";
                    }
                    else {
                        sunsetHours--;
                        sunsetMinutes = 59;
                        sunsetSeconds = 59;
                        document.getElementById('sunsetHours').innerHTML = sunsetHours;
                        document.getElementById('sunsetMinutes').innerHTML = sunsetMinutes;
                        document.getElementById('sunsetSeconds').innerHTML = sunsetSeconds;
                    }
                }
                else {
                    sunsetMinutes--;
                    sunsetSeconds = 59;
                    document.getElementById('sunsetMinutes').innerHTML = sunsetMinutes;
                    document.getElementById('sunsetSeconds').innerHTML = sunsetSeconds;
                }
            }
            else {
                sunsetSeconds--;
                document.getElementById('sunsetSeconds').innerHTML = sunsetSeconds;
            }
        }

        function addSecondToSunsetTimer() {
            if (sunsetSeconds >= 59) {
                if (sunsetMinutes >= 59) {
                    sunsetHours++;
                    sunsetMinutes = 0;
                    sunsetSeconds = 0;
                    document.getElementById('sunsetHours').innerHTML = sunsetHours;
                    document.getElementById('sunsetMinutes').innerHTML = sunsetMinutes;
                    document.getElementById('sunsetSeconds').innerHTML = sunsetSeconds;
                }
                else {
                    sunsetMinutes++;
                    sunsetSeconds = 0;
                    document.getElementById('sunsetMinutes').innerHTML = sunsetMinutes;
                    document.getElementById('sunsetSeconds').innerHTML = sunsetSeconds;
                }
            }
            else {
                sunsetSeconds++;
                document.getElementById('sunsetSeconds').innerHTML = sunsetSeconds;
            }
        }
    </script>

}
